:root {
    --color-background: #212121;
    --color-primary-light: #FFC046;
    --color-primary: #FF8F00;
    --color-primary-dark: #C56000;
    --color-secondary-light: #5DDEF4;
    --color-secondary: #00ACC1;
    --color-secondary-dark: #007C91;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #3A3A3A;
    --color-text-title: #CDCDCD;
    --color-text-complement: #A3A3A3;
    --color-text-base: #BABABA;
    --color-line-in-white: #999999;
    --color-input-background: #353535;
    --color-button-text: #FFFFFF;
    --color-box-base: #263238;
    --color-box-footer: #455A64;
    --color-small-info: #A3A3A3;

    /* Fonte padr�o 16px - 100% - 1rem */
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: var(--color-box-base);
}

body, input, button, textarea{
    font: 700 1.6rem Roboto;    
    color: var(--color-text-base);
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}