:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5; /*OK*/
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary-light: #80ff80; /*OK*/
    --color-secondary: #04D361; /*OK*/
    --color-secondary-dark: #04BF58; /*OK*/
    --color-title-in-primary: #FFFFFF; /*OK*/
    --color-text-in-primary: #D4C2FF; /*OK*/
    --color-text-title: #32264D; /*OK*/
    --color-text-complement: #9C98A6; /*OK*/
    --color-text-base: #6A6180; /*OK*/
    --color-line-in-white: #E6E6F0; /*OK*/
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF; /*OK*/
    --color-box-base: #FFFFFF; /*OK*/
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC; /*OK*/

    /* Fonte padrão 16px - 100% - 1rem */
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

body, input, button, textarea{
    font: 700 1.6rem Roboto;    
    color: var(--color-text-base);
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}