main{
    width: 100vw;
    max-width: 700px;
	padding: 0 1.2rem;
	background: var(--color-background);
}

main h2{
	color: var(--color-text-title);
}

main #commands{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 100%;
}

main #commands #busca{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.2rem 0;
}

main #commands #busca label{
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--color-text-complement);
}

main #commands #busca input{
	flex-grow: 2;
	margin-left: .8rem;
	padding: .8rem;
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--color-text-base);
	border: 1px solid var(--color-line-in-white);
}

main #commands #busca svg{
	fill: var(--color-text-complement);
}

main .button{
	width: 12rem;
	min-height: 4.2rem;
	border-radius: .8rem;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;
	color: var(--color-button-text);
	background-color: var(--color-secondary);
	transition: .5s;
}

main .button:hover{
	background-color: var(--color-secondary-dark);
}

main .add{background-image: url(../../img/icons/add.svg);}
main .del{background-image: url(../../img/icons/del.svg);}
main .udt{background-image: url(../../img/icons/udt.svg);}
main .check{background-image: url(../../img/icons/check.svg);}
main .history{background-image: url(../../img/icons/history.svg);}

main .table{
	max-width: 100%;
	overflow-x: auto; 
	margin-bottom: 1.2rem;
}

main table{
	width: 100%;
}

main table b{
	width: 100%;
	display: block;
	font-size: 1.4rem;
}

table, tr, th, td{
	border: 1px solid var(--color-line-in-white);
	border-collapse: collapse;
	text-align: left;
	font-weight: normal;
}

th{
	background-color: var(--color-primary);
	color: var(--color-title-in-primary);
	font-size: 1.4rem;
	padding: 1.2rem;
}

td{
	font-size: 1.2rem;
	padding: .8rem;
}

td.multi-content{
	width: 100%;
	border: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

td.multi-content .actions{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1.2rem;
	width: 1.2rem;
	overflow: hidden;
	background: var(--color-secondary);
	transition: "width" .99s;
}

td.multi-content .actions:hover{
	width: auto;
	background: transparent;
	overflow: visible;
}

td.multi-content .actions a{
	margin: 0 .8rem;
}

main table .selected{
	background-color: var(--color-secondary-dark);
	color: var(--color-text-complement);
}

main table .hide{
	/*display: none;*/
	text-decoration: overline;
	color: silver;
}

main p{
	font-weight: 400;
	color: var(--color-text-base);
	margin-bottom: 1.2rem;
}

main form{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 1.2rem;
	flex-wrap: wrap;
}

main form div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1.2rem;
}

main form div label {
	width: 100%;
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--color-text-complement);
}

main form div input,
main form div select,
main form div textarea{
	width: 100%;
	display: block;
	padding: .8rem;
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--color-text-base);
	background: var(--color-input-background);
	border: 1px solid var(--color-line-in-white);
}

main form div input[type=submit]{
	border: none;
	border-radius: .8rem;
	background: var(--color-secondary);
	color: var(--color-button-text);
	min-height: 4.5rem;
	transition: .5s;
}

main form div input[type=submit]:hover {
	background: var(--color-secondary-dark);
}

@media (min-width: 700px){
	
	main{
	    width: 100vw;
	    max-width: 1240px;
	    padding: 0 1.2rem;
	}
	
	main form div input[type=submit]{
		width: 200px;
	}

}